/* Write your code here: */
h1, h2 {
    color: blueviolet
}

.box >.done {
    color: firebrick
}

.box .list {
    color: blue;
}

li.done {
    color: seagreen;
}

body ul > p {
    font-size: 2rem
}